!!!
%html{ lang: 'en' }
  %head
  %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
  %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
  %title Ladder Matches
  = csrf_meta_tags
  = csp_meta_tag
  = javascript_pack_tag 'application'
  = stylesheet_pack_tag 'stylesheet', media: 'all'
  %link{ href: 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap', rel: 'stylesheet' }
%body.bg-lightest-blue
  .center.w-100.mw8.shadow-3.bg-white.pv4.ph5.ma4
    = yield